<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Siswa</title>
</head>
<body>
    <h1>Edit Siswa</h1>
    <form action="" method="post">
        <label for="nama">Nama:</label><br>
        <input type="text" id="nama" name="nama" value="{{ siswa.nama }}"><br>
        <label for="nilai">Nilai:</label><br>
        <input type="text" id="nilai" name="nilai" value="{{ siswa.nilai }}"><br><br>
        <button type="submit">Simpan</button>
    </form>
</body>
</html>
